body {
  background-color: #11111b;
  color: #cdd6f4;
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: sans-serif;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: monospace;
  font-size: 50px;
}

.row {
  display: flex;
  gap: 10px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 3px solid #cdd6f4;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

.square:hover,
.playernames button:hover {
  background-color: #585b70;
}

.square:active,
.playernames button:active {
  color: #11111b;
  background-color: #cdd6f4;
}

.square:disabled {
  cursor: default;
  background-color: inherit;
  color: inherit;
}

.playernames {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 32px 0;
  grid-gap: 16px;
  align-items: center;
  margin-top: auto;
}

.playernames input,
.playernames button {
  height: 22px;
  border: 1px solid #cdd6f4;
  outline: none;
  background-color: #11111b;
  color: #cdd6f4;
  padding: 2px;
}

.playernames button {
  grid-column-end: span 2;
  cursor: pointer;
  margin: 2px;
  height: 26px;
}
